*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

target/
bin/
build/
out/

.idea/
*.iws
*.iml
*.ipr
out/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.log
*.env
*.properties
!src/main/resources/*.properties